<nav class="navbar navbar-expand-lg text-bg-dark"> <!-- https://getbootstrap.com/docs/5.2/components/navbar/ -->
    <div class="container-fluid">
      <a class="navbar-brand text-light" href="#">The Hacker Project Dashboard</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-light" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/logs">Logs</a>
          </li>
        </ul>
        <div class="container text-end fw-semibold text-info">{{ current_connection }} ({{ name }})</div>
        <button class="btn btn-info me-2" type="submit" onclick="update()" id="update-btn">Update</button>
        <button class="btn btn-info me-2" type="submit" onclick="sync()" id="sync-btn">Sync</button>
        <button class="btn btn-info" type="submit" onclick="vote()" id="vote-btn">Vote</button>
      </div>
    </div>
</nav>